# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [7]:
#import necessary libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [61]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows
df=pd.read_csv("telecom_customer_churn.csv")
df.columns
df.shape
df.head(5)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [16]:
#display all the column names
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [18]:
# Check if the dataset contains nulls
df.isnull().values.any()

np.False_

In [23]:
#check the datatype of all columns
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [28]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)
df["monthly_charges"]=pd.to_numeric(df["monthly_charges"],errors="coerce")
df["total_charges"]=pd.to_numeric(df["total_charges"],errors="coerce")
df["tenure"]=pd.to_numeric(df["tenure"],errors="coerce")
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges        float64
churn                 object
dtype: object

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [41]:
average=float(df["monthly_charges"].mean())
median=float(df["monthly_charges"].median())
mode=float(df["monthly_charges"].mode()[0])
round(average),median,mode

(65, 70.35, 20.05)

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [49]:
twenty_fifth=round(df["total_charges"].quantile(0.25))
fiftyth=round(df["total_charges"].quantile(0.5))
seventy_fifth=round(df["total_charges"].quantile(0.75))
twenty_fifth,fiftyth,seventy_fifth

(401, 1397, 3795)

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [53]:
rangee=df.monthly_charges.max()  -  df.monthly_charges.min() 
round(rangee)

100

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [67]:
first_quartile_no_churn=df[df["churn"]=="No"]["monthly_charges"].quantile(0.25)
round(first_quartile_no_churn)

25

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [70]:
df["total_charges"] = pd.to_numeric(df["total_charges"], errors="coerce")
third_quartile_no_churn=df[df["churn"]=="No"]["total_charges"].quantile(0.75)
round(third_quartile_no_churn)

4264

Q6-  What is the mode of the payment method column for customers who have churned?

In [73]:
mode_payment_method_churned=df[df["churn"]=="Yes"]["payment_method"].mode()
mode_payment_method_churned

0    Electronic check
Name: payment_method, dtype: object

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [79]:
# Filter the rows based on the churn status and contract type
df_churned_mtm=df[(df["churn"]=="Yes") & (df["contract"]=="Month-to-month")]
df_churned_mtm

# Calculate the mean of the total charges column
average_on_data=df_churned_mtm["total_charges"].mean()


# Print the result
round(average_on_data)

1164

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [84]:
# Filter the rows based on the churn status and contract type
df_nochurned_twoyear=df[(df["churn"]=="No") & (df["contract"]=="Two year")]

df_nochurned_twoyear
# Calculate the median of the tenure column
medain_on_data=df_nochurned_twoyear["tenure"].median()



# Print the result
round(medain_on_data)

64